<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../styles/index.css" rel="stylesheet" />
        <title>Armando González Sosto</title>
    </head>
    <body>
        {% include 'toolbar.html' %}
        <main>
            <div class="gallery">
                {% for project in projects %}
                <a href="/visuals/{{project}}">
                    <img src="../images/visuals/{{project}}.jpg" />
                </a>
                {% endfor %}
            </div>
        </main>
    </body>
</html>
